<!DOCTYPE html>

<html lang="en"    dir="ltr">

<html>
<head>
  	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="This page for users-farm owner to edit/update farm products data like quantity prices and available stock.">

	<title>ElreefEloroby-Edit Product Records</title>
		<script src="/static/script9.js"></script> 

<style>  
	.image {
			position:fixed ;
			border: 1px solid transparent;
			height: auto;
			width: 10%;
			right: 69%;
			top: 20%;
			left:50%;
	}
	.form-container select {
      width: 200px;
      height: 30px;
    }
	/* #imagenFondo {
			position: absolute;
  		border: 1px solid blue;
  		height: 250px;
			top: 200px;
		  left: 165px;
  } */
</style>
<script>
	window.onpageshow = function(event) {
		if (event.persisted) {
			window.location.reload();
		}
	};
</script>
</head>

<body dir="rtl">
  {% extends "home.html" %}
	{% block content %}
	<div class="container-A">
		<h1><img src="/static/images/Logo1.png" style="width:5%; height:5%;">
			مجتمع الريف اﻷوربي <img src="/static/images/Logo1.png" style="width:5%; height:5%;"></h1>
		<a id="btn1" class="btn btn-success" href="{{url_for('index')}}" role="button">Home</a>
		<a id="btn1" type="button" class="btn btn-warning" href="{{url_for('cart_items_list1', buyer=current_user.name)}}" role="button">
			Cart Items</a>
		<button id="btn1" type="button" class="btn btn-secondary"><i class="fa fa-fw fa-user"></i> {{current_user.name}} <i class="fa fa-fw fa-user"></i></button>
	</div>
	<div class="container">
		<h4>تعديل بيانات صنف </h4>
		<form  action="/update_product"   method="POST">
			<div class="container">	
	     		<input type="hidden" id="id" name="id"  value="{{ item.id}}" >
					<input type="hidden" id="farm_id" name="farm_id"  value="{{item.farm_id}}" >
					<input type="hidden" id="prod_category" name="prod_category"  value="{{ item.prod_category}}" >
					<input type="hidden" id="prod_name" name="prod_name"  value="{{ item.prod_name}}" >
					<input type="hidden" id="package" name="package"  value="{{ item.package}}" >
					<input type="hidden" id="stock" name="stock"  value="{{ item.stock}}" >
					<div class="image">
						<img src="/static/New_images/{{item.filename}}" alt="{{item.filename}}">
					 	<hr>
					</div>
					<div class="row">
						<button type="button" class="btn btn-dark btn-sm">الفئه</button>
						&nbsp
						<button type="button" class="btn btn-light dark btn-sm">{{ item.prod_category}}</button>
						&nbsp&nbsp&nbsp				
						<button type="button" class="btn btn-dark btn-sm">الصنف</button>
						&nbsp
						<button type="button" class="btn btn-light dark btn-sm">{{ item.prod_name}}</button>
						&nbsp&nbsp&nbsp
						<button type="button" class="btn btn-dark btn-sm">العبوه</button>
						&nbsp
						<button type="button" class="btn btn-light dark btn-sm">{{ item.package }}</button>
						&nbsp&nbsp&nbsp
						<button type="button" class="btn btn-dark btn-sm">المخزون</button>
						&nbsp
						<button type="button" class="btn btn-light btn-sm">{{item.stock}}{{ item.package}}</button>
		
<!-- 				
					<input type="file"  onChange="preview_2(this);" id="image_path" 
          name="image_path" accept=".jpg,.png,.pdf">
  	    	<img id="imagenFondo"> -->
 				</div>
				<br>
				<div class="row">	
					<!-- <button type="button" class="btn btn-dark btn-sm">المخزون</button>
					&nbsp
					<button type="button" class="btn btn-light btn-sm">{{item.stock}}{{ item.package}}</button>
					&nbsp -->
					<button type="button" class="btn btn-danger btn-sm">سعر الوحده</button>
					&nbsp
					<input type="number"  id="unit_price" name="unit_price" value="{{ item.unit_price}}" placeholder="Unit Price">
					<i class="fa fa-edit custom-icon" aria-hidden="true"></i>

					&nbsp
					<input type="hidden" id="event_datetime" name="event_datetime" value="{{ item.event_datetime}}  " >
				</div>
				<br><br>	
				<input type="submit" value="Save">
 			</div>
		</form>
	</div>
	 {% endblock %}
  </body>
</html>